<h1>Sign in.</h1>

<br/>

<%= form_for(:session, url: sessions_path) do |f| %>
	<%= f.label :email, :class => 'boldtext' %><br/>
	<%= f.text_field :email, :class => 'field' %>
	<br/><br/>
	
	<%= f.label :password, :class => 'boldtext' %><br/>
	<%= f.password_field :password, :class => 'field' %>
	<br/><br/>
	
	<%= f.submit "Sign In", :class => 'btn' %>
	<br/>
<% end %>