<h1>Create a New Diff</h1>

<div>
	<%= form_for(@diff) do |f| %>

	<%= render :partial => "shared/error_messages", :locals => {:obj => @diff} %>

	  <%= f.label :name %>
	  <%= f.text_field :name %>
	  <br/>

	  <%= f.label :url %>
	  <%= f.text_field :url %>
	  <br/>

	  <%= f.label :div %>
	  <%= f.text_field :div %>
	  <br/>

	  <%= f.submit "Create my diff" %>
	  <br/>
	<% end %>
	
</div>
