<h1>Diff Specs</h1>
<% if current_user == @diff.user %>


<div class="diff-form">

	<%= form_tag "test" do %>

	<p>
	  <b>Name:</b>
	  <%= @diff.name %>
	  <%= hidden_field_tag 'name', @diff.name %>
	</p>

	<p>
	  <b>URL:</b>
	  <%= @diff.url %>
	  <%= hidden_field_tag 'url', @diff.url %>
	</p>

	<p>
	  <b>Div:</b>
	  <%= @diff.div %>
	  <%= hidden_field_tag 'div', @diff.div %>
	</p>
	
	<% end %>
	
	</div>
	
	<a href="<%= test_path(@diff) %>" class="btn">Diff now!</a>
	
<br/><br/><br/>

<h2>History</h2>
	
	
<% else %>
	<script>
	window.location = "<%= escape_javascript(root_path) %>";
	</script>
<% end %>