<h1>Create your account.</h1>

 <%= form_for(@user) do |f| %>
 
 	  <%= render :partial => "shared/error_messages", :locals => {:obj => @user} %>

      <%= f.label :name, :class => 'boldtext' %><br/>
      <%= f.text_field :name, 
	  		:class => 'field' %>
      <br/><br/>

      <%= f.label :email, :class => 'boldtext' %><br/>
      <%= f.text_field :email, 
	  		:class => 'field' %>
      <br/><br/>

      <%= f.label :password, :class => 'boldtext' %><br/>
      <%= f.password_field :password, 
	  		:class => 'field' %>
      <br/><br/>

      <%= f.label :password_confirmation, "Confirmation", :class => 'boldtext' %><br/>
      <%= f.password_field :password_confirmation, 
	  		:class => 'field' %>
      <br/>
		<br/>
      <%= f.submit "Let's go!", :class => 'btn' %>
      <br/>
    <% end %>
